  .card {
    background-color: #FCF8EE;
    padding: 2px 16px;
    margin: 75px;
    border-radius: 8px;
    display: flex;
  }

  .when-intro{
      font-size: 32px;
  }
  
  .container1 {
    width: 1000px;
    text-align: center;
    padding-bottom: 20px;
  }
  .learn-more {
      color: #FCF8EE;
      background-color: #60435E;
      border-radius: 20px;
      padding: 2px 15px;
      text-decoration: none;
  }
  .learn-more:hover {
    background-color: #B4D6BD;
  }


.headers {
 font-size: 40px;
 color: #FCF8EE;
 text-align: center;
}

.container-images, .container-text {
    display: flex;
    justify-content: space-around;
    color: #FCF8EE;
}