  .card {
    background-color: #FCF8EE;
    padding: 2px 16px;
    margin: 75px;
    border-radius: 8px;
    display: flex;
  }

  .when-intro{
      font-size: 32px;
  }
  
  .container1 {
    width: 1000px;
    text-align: center;
    padding-bottom: 20px;
  }
  /*.learn-more {
      color: #FCF8EE;
      background-color: #60435E;
      border-radius: 20px;
      padding: 2px 15px;
      text-decoration: none;
  }
  .learn-more:hover {
    background-color: #B4D6BD;
  }*/


.headers {
 font-size: 40px;
 color: #FCF8EE;
 text-align: center;
}

.container-images, .container-text {
    display: flex;
    justify-content: space-around;
    color: #FCF8EE;
}

/* carousel stuff */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #B4D6BD;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: #FCF8EE;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;


  /* -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition: left 2s;
  transition: left 2s; */
}

@-webkit-keyframes fade {
    from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
  to {opacity: 1}
}


/* resource hub */

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    border: 2px solid white;
    width: 236px;
    height: 280px;
    background: #FCF8EE;
    border-radius: 10px;
}  

.flex-child:first-child {
    margin-right: 20px;
} 

.flex-child:not(:first-child) {
    margin-right: 20px;
} 

.resourcehub {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.wrap {
    display: flex;
}

.wrap > div {
    height: 280px;
    width: 33%;
    flex: 1;
    background: #FCF8EE;
    border: 3px solid #292929;
    border-radius: 10px;
    -webkit-transition: flex .5s;
    transition: flex .5s;
}

.wrap > div:hover {
    flex: 3;
}

.resourcehubpics {
    margin: 0;
    border-radius: 10px;
    width: 236px;
    height: 280px;
  }

.accordion {
    max-width: auto;
    background: rgba(0, 0, 0, 0.10);
    height: 300px;
    margin: 20px auto;
    display: flex;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.47);
    flex-direction: row;
    cursor: pointer;
    margin-bottom: 100px;
}
.box {
    position: relative;
    height: 100%;
    flex: 1;
    background-position: left;
    background-size: cover;
    transition: .7s;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.47);
}
.box:hover{
    flex: 7;
    height: 400px;
}
.a1 {
    background-image: url(/pictures/resource-hub/resource-hub-1.png);
}
.a2 {
    background-image: url("https://images.pexels.com/photos/1056555/pexels-photo-1056555.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
}
.a3 {
    background-image: url("https://images.pexels.com/photos/129207/pexels-photo-129207.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    color: #fff;
}
.a4 {
    background-image: url("https://images.pexels.com/photos/240038/pexels-photo-240038.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    color: #fff;
}
.a5 {
    background-image: url("https://images.pexels.com/photos/220994/pexels-photo-220994.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); 
}

.text {
    position: absolute;
    bottom: 50px;
    opacity: 0;
    padding: 10px;
}
.box:hover .text{
    opacity:1;
}

@media screen and (max-width: 800px){
    body{
        margin: 0;
    }
    .accordion {
        flex-direction: column;
        height: 700px;
        box-shadow: none;
    }
    .box {
        box-shadow: none;
    }
    .box:hover {
        flex: 7;
    }
}
