.aff-header {
    position: absolute;
    width: 617px;
    height: 209px;
    left: 296px;
    top: 361px;

    font-weight: bold;
    font-size: 46px;
    line-height: 69px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #B4D6BD;
}
.aff-logo {
    position: absolute;
    width: 378px;
    height: 563px;
    left: 795px;
    top: 141px;
}