.banner {
    display: flex;
    justify-content: center;
}

.aff-header {
    width: 617px;
    height: 209px;
    padding-top: 200px;
    

    font-weight: bold;
    font-size: 46px;
    line-height: 69px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #B4D6BD;
}
.aff-logo {
    
    width: 378px;
    height: 563px;
    left: 795px;
    top: 141px;
}

.subheading {
    color: #B4D6BD;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    
}

.desc1 {
    color: #FCF8EE;
    text-align: center;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 25px;
}

.desc2 {
    color: #FCF8EE;
    text-align: center;
    font-size: 18px;
    padding-top: 90px;
    padding-bottom: 15px;
}

.book {
    width: 285px;
    height: 200px;
    padding-top: 75px;
    padding-left: 70px;
}

.AFF-BTL {
    display: flex;
    justify-content: space-evenly;
}

.calendar {
    text-align: center;
}